name: Build
on: [pull_request, push]
env:
  # Disable the .NET logo in the console output.
  DOTNET_NOLOGO: true
  # Disable the .NET first time experience to skip caching NuGet packages and
  # speed up the build.
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending .NET CLI telemetry to Microsoft.
  DOTNET_CLI_TELEMETRY_OPTOUT: true

  GITHUB_ACTIONS: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        game-version: [1.8.0, 1.8.1, 1.9.0]
        os: [ubuntu-latest]
    steps:
    - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: 6.0.x
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - run: dotnet clean src/GodMode/GodMode.csproj --configuration Release
    - name: Build
      run: |
        mkdir out
        dotnet build src/GodMode/GodMode.csproj --configuration Release -p:GameVersion=${{ matrix.game-version }} -p:GameFolder=$(realpath -s "./out")
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: Bannerlord.GodMode-${{ matrix.game-version }}
        path: ./out/
